*

!.gitignore

!code/
code/*
!code/*

!code/missionpacks/
code/missionpacks/*
!code/missionpacks/*

!plugins/
plugins/*
!plugins/SuperiorSkyblock2/
plugins/SuperiorSkyblock2/*
!plugins/SuperiorSkyblock2/menus
plugins/SuperiorSkyblock2/menus/*
!plugins/SuperiorSkyblock2/menus/missions.yml

!plugins/SuperiorSkyblock2/modules/
plugins/SuperiorSkyblock2/modules/*
!plugins/SuperiorSkyblock2/modules/missions/
plugins/SuperiorSkyblock2/modules/missions/*
!plugins/SuperiorSkyblock2/modules/missions/*

!plugins/SuperiorSkyblock2/modules/missions/categories/
plugins/SuperiorSkyblock2/modules/missions/categories/*
!plugins/SuperiorSkyblock2/modules/missions/categories/*/
plugins/SuperiorSkyblock2/modules/missions/categories/*/*
!plugins/SuperiorSkyblock2/modules/missions/categories/*/*

















