# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


*.mca
usercache.json


plugins/SuperiorSkyblock2/datastore/database.db
logs/
libraries/
cache/
SuperiorWorld/
world/
world_nether/
world_the_end/
build/























